.imgWinner{
    width: 15vw;
    animation: tada 3s infinite;
    margin: 5vw;
}

.teamBlock{
    border-radius: 40px;
    padding: 1vw;
    margin: 2vw;
    border-style: ridge;
    border-width: 1px;
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    background-color: rgba(0,0,0,0.7);
}

.infoRow img{
    width: 14vw;
}

.winnerSpan span{
    display: block;
    animation: tada 4s infinite;
    color: #e0e080;
}

.infoRow span{
    font-size: 3em;
}

.teamsScore{
    overflow-y: scroll;
    height: 100vh;
}

#finalPage::-webkit-scrollbar,

#finalPage::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(245, 245, 245, 0);
}

#finalPage::-webkit-scrollbar-thumb {
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}