section {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
  }
  
  div.face {
    position: absolute;
    background-size: cover;
  }
  
  div.face-cover {
    height: 7.8vw;
    width: 7.8vw;
    border: 2px;
    transform: translateX(-50%) translateY(-50%) translateZ(3.8vw);
  }
  
  div.face-side {
    height: 7.8vw;
    width: 7.8vw;
    transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(3.8vw);
  }
  
  div.face-spine {
    height: 7.8vw;
    width: 7.8vw;
    transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(3.8vw);
  }
  
  div.face-top {
    height: 7.8vw;
    width: 7.8vw;
    transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(3.8vw);
  }
  
  div.face-bottom {
    height: 7.8vw;
    width: 7.8vw;
    transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(3.8vw);
  }
  
  div.face-back {
    height: 7.8vw;
    width: 7.8vw;
    transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(3.8vw) ;
  }

  .cubeArea{
    font-family: Arial;
    perspective: 50vw;
    height: 50vh;
    position: relative;
  }

  .cubeArea section{
    transition-property: initial;
    transition-duration: 3s;
  }

  .cubeArea section div{
    border-style: ridge;
    border-color: black;
  }

/* keyframes definition for other browsers */

@keyframes travel {
  from { left: 5vw;     }
  to   { left: 83.7vw; }
}

@keyframes bounceDice {
  from, to  {
    bottom: 0;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: 50vh;
    animation-timing-function: ease-in;
  }
}

@keyframes spin {
  from {
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* styles for the stage and animated elements */

#traveler {
  position: absolute;
  top:0vh;
  width: 83vw;
  height: 104vh;

  animation-name: travel;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-duration: 3.8s;
}

#bouncer {
  position: absolute;

  animation-name: bounceDice, spin;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-duration: 3.2s;
}