@font-face {
    font-family: '8BitLimitBasic';
    src: url('../fonts/8-bit-limit/8bitlim.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: '8BitLimitOutline';
    src: url('../fonts/8-bit-limit/8bitlimo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: '8BitLimitRounded';
    src: url('../fonts/8-bit-limit/8bitlimr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: '8BitLimitRoundedOutlined';
    src: url('../fonts/8-bit-limit/8blimro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: '8BitPusab';
    src: url('../fonts/8-bit-pusab/8-bit\ pusab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Humonoid';
    src: url('../fonts/humanoid/Humanoid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'HumonoidStraight';
    src: url('../fonts/humanoid/HumanoidStraight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'KarmaFuture';
    src: url('../fonts/karma-future/KarmaFuture.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: '8bitOperatorPlusBold';
    src: url('../fonts/8-bit-operator/8bitOperatorPlus-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: '8bitOperatorPlusRegular';
    src: url('../fonts/8-bit-operator/8bitOperatorPlus-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: '8bitOperatorPlus8Bold';
    src: url('../fonts/8-bit-operator/8bitOperatorPlus8-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: '8bitOperatorPlus8Regular';
    src: url('../fonts/8-bit-operator/8bitOperatorPlus8-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: '8bitOperatorPlusSCBold';
    src: url('../fonts/8-bit-operator/8bitOperatorPlusSC-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: '8bitOperatorPlusSCRegular';
    src: url('../fonts/8-bit-operator/8bitOperatorPlusSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'VcrOsdMono';
    src: url('../fonts/vcr-osd-mono/VCR_OSD_MONO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

