.fadeIn{
    -webkit-transition: background 500ms ease-in 500ms; /* property duration timing-function delay */
    -moz-transition: background 500ms ease-in 500ms;
    -o-transition: background 500ms ease-in 500ms;
    transition: background 500ms ease-in 500ms;
}

.extendedShadows{
    text-shadow: 5px 0 black, 0 5px black, -1px 0 black, 0 -2px black !important;
}

.font8bitsBasic{
    font-family: '8BitLimitBasic';
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.font8bitsOutline{
    font-family: '8BitLimitOutline';
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.font8bitsRounded{
    font-family: '8BitLimitRounded';
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.font8bitsPusab{
    font-family: '8BitPusab';
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.fontHumonoid{
    font-family: 'Humonoid';
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.fontHumonoidStraight{
    font-family: 'HumonoidStraight';
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.fontKarmaFuture{
    font-family: 'KarmaFuture';
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.font8bitOperatorPlusBold{
    font-family: '8bitOperatorPlusBold';
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.font8bitOperatorPlusRegular{
    font-family: '8bitOperatorPlusRegular';
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.font8bitOperatorPlus8Bold{
    font-family: '8bitOperatorPlus8Bold';
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.font8bitOperatorPlus8Regular{
    font-family: '8bitOperatorPlus8Regular';
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.font8bitOperatorPlusSCBold{
    font-family: '8bitOperatorPlusSCBold';
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.font8bitOperatorPlusSCRegular{
    font-family: '8bitOperatorPlusSCRegular';
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.fontVcrOsdMono{
    font-family: 'VcrOsdMono';
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.goOutPage{
    animation: bounceOutLeft 2s;
}

.goInPage{
    animation: bounceInRight 2s;
}

.modalBGColorInfo .ant-modal-body{
    background-color: #484860;
}

.borderModal{
    border-style: ridge;
    border-width: 10px;
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin: auto;
    position: relative;
    top: 5vh;
    background-color: rgba(0,0,0,0.7);
    padding: 0 !important;
}

.buttonYellow{
    background-color:#E0E080 !important;
    border-style: solid !important;
    border-color: black;
    border-width: 2px;
    height: 4em;
    animation: bounce 2s infinite
}

.buttonOrange{
    background-color:#E48A65;
    border-style: solid !important;
    border-color: black;
    border-width: 2px;
    height: 4em;
    animation: bounce 2s infinite
}

.rowFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: auto;
}

.rowColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spaceAroundColumn{
    justify-content: space-around;
}

.borderFrame{
    border-style: ridge;
    border-width: 10px;
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    width: 90vw;
    height: 90vh;
    margin: auto;
    position: relative;
    top: 5vh;
    background-color: rgba(0,0,0,0.7)
}

.ant-modal-content .ant-modal-footer{
    background-color: #484860;
    border: none;
}

.ant-modal-close-x {
    font-size: 30px !important;
    color: red;
}