.optionsRow{
    margin-top:10vh;
    cursor: pointer;
}

.optionsRow img{
    width: 8em;
    animation: bounce 2s infinite
}

.optionsRow span{
    font-size: 3em;
}

.verifyFontSize{
    font-size: 2.5em;
    text-align: center;
}

.modalVerify img{
    width: 10.5em;
    animation: tada 2s infinite
}