.centerOfScreen{
    position: relative;
    padding-top: 10vh;
}

.titleAppName{
    position: relative;
    padding-top: 20vh;
}

.titleAppName img{
    width: 10em;
    margin-right: 5em;
}

.titleAppName div:nth-child(2) span{
    color:#E0E080 !important;
}

.buttonPosition{
    position: relative;
    padding-top:10vh;
    padding-bottom: 10px;
}

.intro {
    color: #fff;
    text-align: center;
}

.intro span {
    font-size: 4em;
}

.intro h1 {
    font-size: 3.5em;
    color: #E0E080;
}