.rowFlexBattle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.teamBattleInfo{
    text-align: center;
    margin: 10px;
    font-size: 1.3em;
}

.imgTeamBattleInfo{
    width: 17vw;
    height: 17vw;
    animation: pulse 2s infinite;
}

.imgTeamBattleVS{
    width: 10vw;
}

.arrowsRow{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 100;
}

.mapModal .ant-modal-content{
    border-style: ridge;
    border-width: 10px;
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.mapModal{
    top: 0px !important;
    height: 100vh !important;
    overflow: hidden;
}

.mapContent{
    color: #fff;
    text-align: center;
}

.wrapRow{
    flex-wrap: wrap;
}

.mapContent span{
    font-size: 3em;
}

.mapRanking{
    width:70em;
    border-style: ridge;
    border-width: 1px;
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.7);
    margin-top: 1em;
}

.options{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-style: ridge;
    border-width: 10px;
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    border-radius: 25px;
}

.rowOptions{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    top: 96px;
    z-index: 100;
}

.rowOptionsPages {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    z-index: 100;
}

.options img{
    width: 3.5vw;
    margin: 0 10px 0 10px;
}

.ant-tooltip{
    font-family: '8bitOperatorPlusSCBold' !important;
    color: #fff !important;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black !important;
    font-size: 2em;
    width: 200px !important;
}

.arrowsRowContent{
    width: 200px;
}

.arrowsColContent{
    width: 200px;
}

.arrowsCol{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 100;
}

.navUp{
    top:10px;
}

.navLeft{
    left:10px;
}

.navRigth{
    right: 10px;
}

.navDown{
    bottom: 10px;
}

.navBar div:hover{
    opacity: 1 !important;
}

.navBar div{
    opacity: 0.8;
}

.border-arrow-up {
    width: 0; 
    height: 0; 
    border-left: 76px solid transparent;
    border-right: 76px solid transparent;
    
    border-bottom: 76px solid #000;
  }
  
.border-arrow-down {
    width: 0; 
    height: 0; 
    border-left: 76px solid transparent;
    border-right: 76px solid transparent;
    
    border-top: 76px solid #000;
}
  
.border-arrow-right {
    width: 0; 
    height: 0; 
    border-top: 76px solid transparent;
    border-bottom: 76px solid transparent;
    
    border-left: 76px solid #000;
}
  
.border-arrow-left {
    width: 0; 
    height: 0; 
    border-top: 76px solid transparent;
    border-bottom: 76px solid transparent; 

    border-right:76px solid #000; 
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;

    border-bottom: 60px solid #E0E080;
    margin: 9.5px;
  }
  
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    
    border-top: 60px solid #E0E080;
    margin: 9.5px;
}
  
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 60px solid #E0E080;
    margin: 9.5px;
}
  
.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent; 
    
    border-right:60px solid #E0E080; 
    margin: 9.5px;
}

.rankingGraph{
    margin: 16vh;
}