.blockInfoArea{
    width: 420px;
    height: 510px;
    display: block;
    color: aliceblue;
    border-style: ridge;
    border-width: 10px;
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    animation: perspectiveDownReturn 1s forwards;
    top: -10px;
    left: -10px;
    z-index: 2;
    text-align: center;
    font-size: 1.3em;
}

.hoverArea{
    width: 420px;
    height: 510px;
    margin: 3.5em;
    border-style: ridge;
    border-width: 10px;
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.slotArea{
    width: 420px;
    height: 510px;
    margin: 3.5em;
    border-style: ridge;
    border-width: 10px;
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s; /* Animation */
}

.slotItemArea div:hover{
    transform: scale(1.7);
}

.slotItemArea{
    margin: 1em;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slotItemArea img{
    width: 2em;
}

.animatedShake{
    animation: tada 2s infinite;
}

.hoverArea:hover > div:first-child{
    animation: perspectiveDown 1s forwards;
}

.alignContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.alignContent .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vw;
    font-size: 1.2em;
}

.winer{
    background-color: #dbdb18 !important;
    animation: bounceIn 4s infinite;
}

.alignContent img{
    width: 100%;
}

.infoCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    font-size: 2.5em;
}

.infoCard img{
    width: 50%;
    margin: 20% 0 20% 0;
}

.infoCardWinner img{
    width: 96%;
    margin: 20% 0 20% 0;
}