.battle{
    width: 50vw;
    border-style: ridge;
    border-width: 1px;
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
    margin-top: 40px;
    text-align: center;
    font-size: 1.4em;
}

.battleQuestion{
    width: 70vw;
    height: 90vh;
}

.modalCheckAnswer img{
    width: 15em;
    animation: tada 2s infinite;
    margin:50px;
}

.modalCheckAnswer .buttonOrange{
    margin:20px;
    animation: none;
}

.battle .rowFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.battle .rowColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.battleInforImg{
    width: 18vw;
    margin: 20px;
}

.clock img{
    width: 170px;
    animation: tada 1s infinite;
}

.lastSeconds{
    animation: tada 1s infinite;
}

.lastSeconds span{
    color:red;
}

.buttonFight{
    background-color: #E0E080 !important;
    border-style: solid !important;
    border-color: black;
    border-width: 2px;
    width: 14em;
    height: 6em;
    align-items: center;
    text-align: center;
    margin: 30px;
    animation: shake 6s infinite;
}

.buttonFight img{
    width: 4em;
    margin: 2px;
}

.bgWhite{
    background-color: #484860;
}

.relevantInfoBlock{
    margin: 10px;
    font-size: 0.8em;
    text-align: justify;
}

.modalCheckAnswer .ant-modal-content{
    border-style: ridge;
    border-width: 5px;
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    border-radius: 18px;
}

.modalCheckAnswer .ant-modal-body{
    border: 0;
    border-radius: 14px;
}

.battleModal .ant-modal-content{
    border-style: ridge;
    border-width: 1px;
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    background-color: rgba(0,0,0,0.7);
}

.modalCheckAnswer .header{
    font-size: 3em;
}

.modalCheckAnswer .rightAnswer{
    font-size: 2em;
}

.question{
    margin: 10px;
    font-size: 1em;
    text-align: justify;
}

.relevantInfoBlock div:hover > div{
    display: inline !important;
}

.relevantInfoBlock .arrow{
    animation: shake 3s infinite;
}

.relevantInfoBlock .rowFlex:hover{
    transform: scale(1.3);
    border-style: ridge;
    border-width: 1px;
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    z-index: 100;
}

.hide{
    display: none;
}

.arrow {
	/* more triangle */
	position: relative;
	height: 0px; width: 0px;
	border: 12px solid;
	border-color: 
    #E0E080
    #E0E080
		transparent
		transparent;
    transform: rotate(45deg);
    margin: 10px;
}

.arrow:before {
	content: '';
	position: absolute;
	top: 0px; right: 0px;
	display: block;
	height: 12px; width: 16px;
	background-color: #E0E080;
	transform: 
		rotate(-45deg) 
		translate(2px, 1px);
}

.cubeDecisionTeams{
    margin: 3vw 3vw 2vw 3vw;
}

.sizeTeamBattleCube{
    width: 16vw;
    height: 12vw;
}

.imgTeamWinner{
    width: 17vw;
    z-index: 1;
}

.imgTeamBattleCrown{
    width: 15vw;
}

.colTeamBattleCrown{
    position: absolute;
    top: -1.5vw;
}

.animateTeamBattleCube{
    animation: tada 2s infinite;
}

.animateVanishOut{
    animation: vanishOut 7s infinite;
}